body {
    background-image: url("./horizont.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 70px;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
}

.scoreboard {
    padding: 10px 0;
}

.start-btn {
    display: inline-block;
    padding: 6px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  .start-btn:hover {background-color: #3e8e41}
  
  .start-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

  @media (max-width: 1299px) {
    body {
        background-image: url("./horizont_vertical.jpg");
    }

    table {
        margin-top: 20px;
    }
  }